[[providers]]
name = "alltheplaces"
type = "gpkg"
filepath = "/data/output.gpkg"

[[providers.layers]]
name = "alltheplaces"
sql = """
    SELECT *
    FROM output
    JOIN rtree_output_geom si ON output.fid = si.id
    WHERE !BBOX!
    LIMIT 100
"""

[[maps]]
name = "alltheplaces"
center = [-80.0, 40.44, 16.0]
attribution = "All The Places {attribution}"

[[maps.layers]]
provider_layer = "alltheplaces.alltheplaces"
